/* Font section */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: black;
}


/* Nav related styles */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    max-width: 100%;
    max-height: 100vh;
}

h3 {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.btn-primary {
    border-radius: 48px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    margin: 0 8%;
}

li {
    list-style: none;
    padding: 0.5rem;
    margin-right: 5%;
}

a {
    text-decoration: none;
    font-size: 1.125rem;
    color: white;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

/* Banner related styles */
.banner-content {
    max-width: 32.5rem;
}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    line-height: 100%;
    margin-bottom: 1.75rem;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

.banner-description {
    margin-bottom: 1.75rem;
    text-align: left;
    width: 75%;
    margin-left: 0;
}

.btn-secondary {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 16px 40px 16px 40px;
    background: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.join-club-btn {
    padding: 16px 40px 16px 40px;
    margin-right: 4%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 8%;
    position: relative;
}

.banner-image {
    max-width: 22rem;
    max-height: 36rem;
}

.banner-image img {
    width: 100%;
    height: 100%
}

.video-badge {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(1rem);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25rem 1.25rem;
    gap: 1rem;
    position: absolute;
    left: 63%;
    top: 75%;
}

.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}

.video-badge-title {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}

.video-badge-description {
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
}

.video-badge2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(1rem);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1.25rem 1.5rem;
    right: 3%;
    top: 38%;
}

.video-badge2-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.video-badge2-description {
    font-size: 0.8rem;
    color: rgba(239, 237, 232, 0.65);
}

/* Change Your Habits Section styles */
h2 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.habits,
h2 {
    text-align: center;
    margin: 8%;
    margin-bottom: 2rem;
}

.habits,
p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 8%;
    width: 60%;
    margin: 0 auto;
}

.round-images img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.1);

}

.round-images h5 {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem;
    padding-bottom: 0.4rem;
}

.round-images p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 1.125rem;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin: -5% 8%;
    padding-bottom: 5rem;
}

/* Run Section styles */
.run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 6% 8%;
    justify-items: center;
}

.run-image img {
    width: 25rem;
    height: 22rem;
    border-radius: 18px;
    margin: 3rem;
}

.run-content {
    padding: 3rem;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: left;
    margin-left: 0;
    width: 50%;
}

.run-content h2 {
    text-align: left;
    margin-top: 0;
    margin-left: 0;
}

.run-content button {
    padding: 16px 40px 16px 40px;
    width: 14rem;
    height: 3.375rem;
    margin-top: 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

/* BMI section styles */
.bmi-title p {
    text-align: left;
    margin-left: 8%;
    width: 60%;
    line-height: 1.5rem;
}

.bmi-title h2 {
    text-align: left;
}

.bmi-title {
    margin: 3% 20%;
}

.bmi-content {
    background: rgb(34, 34, 34);
}

.bmi-chart h2 {
    font-size: 1.75rem;
    margin: 8% 14%;
    text-align: left;
}

table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 20rem;
    height: 8rem;
    margin: 5% 14%;
    border-collapse: collapse;
}

th {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 1rem;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 1rem;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.calculate-bmi h2 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: 0;
    text-align: left;
}

.calculate-bmi p {
    text-align: left;
    line-height: 1.5rem;
    width: 68%;
    margin-left: 0;
}

.bmi-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.row1 input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 4rem 1rem 1rem;
    border: none;
}

.row2 input,
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 4rem 1rem 1rem;
    border: none;
}

.row2 select {
    width: 15.2rem;
    color: rgba(255, 255, 255, 0.6);
}

.row3 select {
    width: 30.4rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 3%;
}

#submit-btn {
    padding: 16px 40px 16px 40px;
    width: 15rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
}

.row1,
.row2,
.row3 {
    padding: 0.5rem 0rem;
}

/* Meet our team section styles */
.team,
h2 {
    margin-top: 5%;
    margin-bottom: 1.5rem;
}

.team,
p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 0;
}

.trainer-gallery img {
    border-radius: 18px;
    width: 21rem;
    height: 17rem;
    filter: brightness(80%);
}

.trainer-img {
    position: relative;
}

.trainer-gallery h6 {
    font-weight: 700;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    position: absolute;
    top: 75%;
    left: 5%;
}

.trainer-gallery p {
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 1rem;
    text-align: left;
}

.trainer-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    margin: 2% auto;
}

.trainer-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin: 6% 14%;
}

/* Footer section styles */

.logo p {
    text-align: left;
    padding-top: 1rem;
    width: 140%;
    line-height: 1.5rem;
}

.link h4 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-bottom: 2rem;
}

.link a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: left
}

.copyright p {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.horizontal-line {
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 5% 8% 2% 8%;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3% 8%;
    gap: 18rem;
}

.footer-container {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding-top: 2rem;
    height: 63vh;
}

.ham-burger,
.hide {
    display: none;
}

#join-now {
    display: none;
}

/* Responsive Design for mobile device */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .ham-burger {
        display: block;
    }

    .ham-burger i {
        font-size: 1rem;
        color: white;
    }

    .banner-title {
        font-size: 3rem;
        line-height: 110%;
        margin-top: 5%;
    }

    .banner-description {
        margin-bottom: 1rem;
        font-size: 0.7rem;
        line-height: 1rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    #shape {
        font-size: 5rem;
    }

    .banner {
        flex-direction: column;
    }

    .banner-content {
        max-width: 100%;
    }

    #join-now {
        display: block;
        font-size: 1rem;
        padding: 0.8rem 2rem;
    }

    #join-club {
        display: none;
    }

    .button {
        display: flex;
        justify-content: space-between;
    }

    .btn-secondary {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .video-badge {
        top: 115%;
        left: 8%;
    }

    .video-badge2 {
        top: 80%;
        right: 3%;
    }

    .habits,
    h2 {
        padding-top: 65%;
        font-size: 1.5rem;
        margin-bottom: 2%;
    }

    .habits,
    p {
        width: 80%;
    }

    .round-images,
    .bmi-content {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .round-images {
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .round-images p {
        width: 60%;
        line-height: 1.125rem;
    }

    .run {
        flex-direction: column;
        height: 33rem;
    }

    .run-image img {
        width: 17rem;
        height: 12rem;
    }

    .run-content button {
        padding: 0rem 1rem;
        width: 16rem;
        height: 3rem;
        margin-top: 0% auto;
        font-size: 1rem;
    }

    .run-content {
        padding: 0 8%;
    }

    .run-content h2 {
        margin-top: 1rem;
    }

    .run-content p {
        width: 100%;
    }

    .bmi-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        width: 100%;
    }

    .bmi-title {
        margin-top: 10%;
        margin-left: 3%;
    }

    .bmi-title p {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 100%;
        padding-bottom: 1rem;
    }

    .bmi-chart h2 {
        font-size: 1rem;
        padding: 0;
        margin: 5% 9%;
        text-align: left;
    }

    table {
        width: 18rem;
        margin: 2% 9%;
    }

    .calculate-bmi h2 {
        font-size: 1rem;
        padding: 0;
        margin: 5% 9%;
    }

    .calculate-bmi p {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 5% 9%;
    }

    .row2,
    .row1 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0 7%;
    }

    .row2 input,
    select {
        width: 50%;
    }

    .row1 input,
    select {
        width: 50%;
    }

    .row2 select {
        width: 50%;
    }

    .row3 select {
        width: 88%;
        margin: 0 7%;
    }

    #submit-btn {
        margin: 8% 7%;
    }

    .row1,
    .row2,
    .row3 {
        padding: 0.5rem 0;
    }

    .team,
    h2 {
        padding: 0.2rem;
    }

    .team,
    p {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 100%;
    }

    .trainer-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer-container {
        margin: 6% 8%;
    }

    .trainer-gallery img {
        width: 17rem;
        height: 100%;
    }

    .hidden {
        display: none;
    }

    .hide {
        display: block;
    }

    .ellipsis {
        width: 6.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .link a {
        font-size: 1rem;
    }

    .copyright p {
        font-size: 0.8rem;
        text-align: left;
        padding: 1rem;
        margin-left: 3%;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 3%;
        gap: 1rem;
    }

    .logo p {
        width: 100%;
    }

    .footer-container {
        height: 108vh;
        width: 100%;
    }
}